form {
  display: inline;
  left: 5px;
  position: relative;
  top: 15px;
}

form input {
  background-color: #141527;
  border: none;
  color: #757575;
  font-size: 1.25rem;
  height: 50px;
  padding: 0 10px 10px;
  width: 60%;
}


form button {
  background-color: #b56af1;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem ; 
  height: 50px;
  width: 200px;
}